 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }
 
 html,
 body {
     height: 100%;
     width: 100%;
 }
 
 body {
     align-content: space-around;
     display: grid;
     background-color: #fff;
     color: #000;
     /* display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     align-items: center; */
     justify-content: center;
 }
 
 #imgDiv {
     display: flex;
     align-items: center;
     justify-content: center;
 }
 
 #pusheen {
     height: 140px;
     width: 140px;
 }
 
 canvas {
     background-color: #ffffff;
 }